<%-include("partials/header")%>         <!-- challenge 19 - take the individual post to a new page -->
<h1><%= specificpost %> </h1>
<p><%= specificpostpara %></p>
<%-include("partials/footer")%>
